
ul.nav.nav-tabs{
    border: 1px solid #ddd;
}

.js-search-form{
    margin-top:8px;
}
div.side-nav{
    padding-left:29px;
    height:100%;
}

h3.notecard{
    text-align: center;
}

h3.title{
    border-bottom: 1px solid #ddd;
}

h4.content{
    height:100px;
    border-bottom: 1px solid #ddd;
}

div.note-front{
    line-height:200px;
}

div.term{
    text-align: center;
    vertical-align: middle;
}

div.notecard-header{
    line-height:35px;
}

div.notecard-definition{
    text-align: left;
    padding-left:10px;
}

.form-control{
    border-radius:0;
}

#definition-input {
    border-bottom:0px;
}

#category-input {
    border-top:0px;
    border-bottom:0px;
}

.noteheader{
    width: 100%;
    text-align:center;
}

.modal-header{
    padding:0px;
    border-bottom:none;
}

.modal-header .close{
    margin-top:10px;
    margin-right:10px;
}

.modal-lg {
     width: 30%;
}

.modal-footer{
    text-align:center;
    border-top:none;
}

.adder{
    float:right;
}

.delete-notecard{
    text-align:right;
}

.delete-notecard:hover{
    text-decoration: underline;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.panel{
    border:none;
}

.add-btn, .del-btn{
    width:25px;
}

#front-container {
  position: relative;
  margin-bottom: 20px;
  width: 450px;
  height: 200px;
  z-index: 1;
}
#front-container {
  perspective: 1000;
}
#front-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
#front-container:hover #front-card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  background-color: #aaa;
}

.text_editor {
  border: none;
  background: #ddd;
  color: #000;
  font-size: 14px;
  font-family: arial;
  width: 95%;
  height:75px;
  cursor: text;
}

.boxed{
    border:1px solid black;
    margin: 10px 10px 10px 10px;
}

.answers_list{
    border: 1px solid black;
}

.answers-form{
    border:1px solid black;
    margin-top: 5px;
    margin-bottom:5px;
}

input[type=checkbox], input[type=radio]{
    margin-top: 15px;
    margin-bottom:15px;
}

.answers{
    margin-left: 10px;
    margin-right:10px;
}