ul.nav.nav-tabs{
    border: 1px solid rgb(211,211,211);
      width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  font-family: Raleway;
}

.CHANGETHIS{
    padding-left:0;
}

.side-nav{
    padding-left:0;
}

.nav-category:not(:first-child):not(:last-child){
    border-bottom: 1px solid #ddd;
}
.nav-category:first-child{
    border-bottom: 1px solid #ddd;
}
.js-search-form{
    margin-top:8px;
}

h3.notecard{
    text-align: center;
}

h3.title{
    border-bottom: 1px solid #ddd;
}

h4.content{
    height:100px;
    border-bottom: 1px solid #ddd;
}

div.note-front{
    line-height:200px;
    border: 1px solid 1px solid rgba(210, 205, 205, 0.47);
    border-top: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

div.term{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.notecards{
    font-family:raleway;
}

div.notecard-header{
    line-height:35px;
}

div.notecard-definition{
    text-align: left;
    padding-left:10px;
}

.form-control{
    border-radius:0;
    font-family:raleway;
}

#sign-out{
    font-family: raleway;
    background-color:white;
}
#category-input {
    border-top:0px;
    border-bottom:0px;
}

.noteheader{
    width: 100%;
    text-align:center;
}

.navbar-default{
    background-color:white;
    border:none;
}

.container-fluid{
    padding-left:0;
}

.sidenavbar{
    padding-left:0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left:0px;
    font-family:Skranji;
}

.adder{
    margin-top: 8px;
    height:50px;
}

.modal-header{
    padding:0px;
    border-bottom:none;
}

.modal-header .close{
    margin-top:10px;
    margin-right:10px;
}

.modal-lg {
     width: 30%;
}

.modal-footer{
    text-align:center;
    border-top:none;
}


.delete-notecard{
    text-align:right;
    margin-right:10px;
}

.delete-notecard:hover{
    text-decoration: underline;
}

.pink{
    background-color: #ffebef;
}

.blue{
    background-color: #aec5e0;
}
.green{
    background-color: #b6edb6;
}
.yellow{
    background-color: #fefec8;
}

.panel{
    border:none;
    border-radius: 0;
}

.add-btn, .del-btn{
    width: 39px;
    height: 33px;
}

span.add-change{
    display:none;
}

button:hover .add-change {
     display: inline; 
}

button:hover .symbol {
     display: none; 
}

.jumbotron{
    margin-left:139px;
}

.panel-heading{
    padding-bottom:35px;
    padding-right:0px;
    border-bottom:none;
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-group{
    text-align: right;
}

/* card flip */ 
#front-container {
  position: relative;
  margin-bottom: 55px;
  height: 200px;
  z-index: 1;
}
#front-container {
  perspective: 1000;
}
#front-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
#front-container:hover #front-card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
}

.text_editor {
  border: none;
  background: #ddd;
  color: #000;
  font-size: 14px;
  font-family: arial;
  width: 95%;
  height:75px;
  cursor: text;
}

/* card flip end */ 

.boxed{
    /*margin: 10px 10px 10px 10px;*/
    margin-top:10px;
}

.category{
    border: 1px solid black;
}

.answers_list{
    border: 1px solid black;
}

.answers-form{
    border:1px solid black;
    margin-top: 5px;
    margin-bottom:5px;
}

input[type=checkbox], input[type=radio]{
    margin-top: 15px;
    margin-bottom:15px;
}

.answers{
    margin-left: 10px;
    margin-right:10px;
}

#sign-out{
    margin-top:8px;
}

.log-in-container{
    margin: 0 auto;
    float:none;
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  font-family: raleway;
}

.centerLogin{
    border: 1px solid black;
    border-radius:5px;
    margin: 0 auto;
    padding: 40px;
    background-color:white;
}

.signupForm{
    margin-top: 10px;
}

.signupForm:hover{
    text-decoration: underline;
    color:royalblue;
}

.modal-content.sign-up{
    height:450px;
}
/*#login-form{
    width:250px;
}*/
